/.gradle/
/.settings/

/bin/
/build/
/eclipse/
/run/
/olds/

/.classpath
/.project
/.checkstyle
/.pydevproject

*.class
*.jpage

/src/main/resources/version.properties
/.modrevision

/.README.md.html
