.DS_Store
Thumbs.db

# gradle
build
.gradle
gradle.properties

# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# other
eclipse
run

/logs

# Files from Forge MDK
forge*changelog.txt
